*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:85%;
    margin:auto;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.just-center{
    justify-content:center;
}
.just-between{
    justify-content:space-between
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center
}
.img-fluid{
    width:100%;
}
[class*="col-"]{
    padding:15px;

}
.col-1{
    width:8.33333%;
}
.col-2{
width: 16.66667%;    

}
.col-3{
    width:25%
}
.col-4{
width: 33.3333%;    
}
.col-5{
    width: 41.6666666667%;

}
.col-6{
    width:50%
}
.col-7{
  width: 58.3333333333%;
}
.col-8{
  width: 66.6666666667%;
    
}
.col-9{
width: 75%;    
}
.col-10{
    
    width: 83.3333333333%;
}

.col-11{
    width: 91.6666666667%;
}

.col-12{
   width: 100%; 
}
.p-0{
    padding: 0;
}
